@import "../../.config/colors/MainColors.css";

* {
  border: none;
  min-height: 0;
  margin-left: 3px;
  margin-right: 3px;
  color: white;
}

window#waybar {
  background: rgba(60, 59, 61, 0.7);
}

#custom-battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-battery.critical:not(.charging) {
  color: #e68a00;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-battery.full {
  color: #1aff1a;
}

#custom-battery.charging {
}

#workspaces {
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: @WhiteColor;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-bottom: 4px solid;
  border-bottom-color: @ThirdColor;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

#workspaces button.active {
  color: @FirstColor;
  background: @SecondColor;
  min-width: 40px;
  border-bottom: 4px;
  border-bottom-color: @ThirdColor;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
#workspaces button.special {
  margin-left: 10px;
}

#submap {
  color: @WhiteColor;
  background: @SecondColor;
  border-radius: 4px;
  padding: 0px 5px;
  margin: 4px 3px;
  transition: all 0.3s ease-in-out;
}

#idle_inhibitor.activated {
  color: #525452;
}
